<div class="header home">
  <div class="container head-container">
    <div class="head-top">
      <div class="head-title-container">
        <svg class="head-svg-icon-logo">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
        <h1 class="head-title">Filmoteka</h1>
      </div>
      <nav class="head-nav-container">
        <ul class="head-nav">
          <li class="head-nav-item"><a href="./index.html" id="homeLink" class="link head-nav-link active">Home</a></li>
          <li class="head-nav-item"><a href="./index.html" id="libraryLink" class="link head-nav-link">My library</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="head-search-form-container">
      <form id="formSearch" class="head-search-form">
        <input type="text" id="searchInput" class="input head-search-input" placeholder="Movie search">
        <button id="searchButton" class="btn head-search-btn">
          <svg class="head-svg-icon-search">
            <use href="./images/icons.svg#icon-search"></use>
          </svg>
        </button>
      </form>
    </div>
    <div class="head-lib-btns-container is-hidden">
      <div class="head-lib-btns">
        <button id="watchedBtn" class="btn head-lib-btn active">Watched</button>
        <button id="queueBtn" class="btn head-lib-btn">Queue</button>
      </div>
    </div>
    <div class="head-error-container invisible">
      <p class="head-error">Search result not successful. Enter the correct movie name and try again.</p>
    </div>
  </div>
</div>