<div class="header">
  <div class="container head-container">
    <div class="head-top">
      <div class="head-title-container">
        <svg class="head-svg-icon-logo">
          <use href="../images/icons.svg#icon.logo"></use>
        </svg>
        <h1 class="head-title">Filmoteka</h1>
      </div>
      <nav class="head-nav-container">
        <ul class="head-nav">
          <li class="head-nav-item"><a class="link head-nav-link">Home</a></li>
          <li class="head-nav-item"><a class="link head-nav-link">My library</a></li>
        </ul>
      </nav>
    </div>
    <div class="head-search-form-container">
      <form id="formSearch" class="head-search-form">
        <input type="text" id="searchInput" class="head-search-input" placeholder="Movie search">
        <button id="searchButton" class="head-search-button">
          <svg class="head-svg-icon-search">
            <use href="./images/icons.svg#icon-search"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</div>