<div class="modal" mod-details>
  <div class="mod-details">
    <button type="button" class="btn mod-close" mod-details-close>
      <svg class="mod-svg-close">
        <use href="./images/icons.svg#icon-x-close"></use>
      </svg>
    </button>
    <div class="mod-det-poster">
      <img src="./image/movies/poster.jpg">
    </div>
    <div class="mod-det-info">
      <h2 class="mod-det-title">Tytul</h2>
      <div class="mod-det-details">
        <dl class="mod-det-details-list">
          <dt>Vote / Votes</dt>
          <dd></dd>
          <dt>Popularity</dt>
          <dd></dd>
          <dt>Original title</dt>
          <dd></dd>
          <dt>Genre</dt>
          <dd></dd>
        </dl>
      </div>
      <div class="mod-det-about">
        <h3>About</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus nam illo dignissimos magnam veritatis hic
          dicta. Officiis excepturi quae nobis, placeat in nulla doloremque tempora earum consectetur. Aspernatur
          provident necessitatibus, delectus expedita facere voluptas. Totam, animi! Ipsam neque voluptate, vero
          molestiae itaque laborum a recusandae cum modi ex, ad nisi!</p>
      </div>
    </div>
  </div>
</div>