/*
breakpoints:
320px
768px
1280px
*/

:root {
  --head-bkg: black;
  --head-txt: white;
  --head-accent: #ff001b;
  --main-bkg: #white;
  --main-txt: black;
  --main-accent: #ff6b08;
  --foot-bkg: #f7f7f7;
  --foot-txt: #545454;
  --foot-accent: #ff6b08;
  --mod-cov: rgba(0, 0, 0, 0.5);
  --mod-bkg: white;
  --mod-btn: #f7f7f7;
  --mod-txt: black;
  --mod-txt-light: #8c8c8c;
  --btn-active: #ff6b08;
  --btn-active-txt: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  background-color: var(--bkg);
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.btn,
.input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--mod-cov);
  display: flex;
  justify-content: center;
  align-items: start;
}

.svg-close {
  width: 14px;
  height: 14px;
}

.animate {
  transition-duration: 0.3s;
  transition-timing-function: easy;
}

/* .animation-zoom {
  transition-delay: 0.5s;
  animation-duration: 0.6s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-name: animatezoom;
  animation-timeline: auto;
  animation-range-start: normal;
} */
